@import "tailwindcss";

@layer components{
  .container{
    @apply mx-auto !max-w-[1280px] lg:px-0 px-2;
  }
}

@theme{
   --font-poppins: var(--font-poppins);
   --font-geist: var(--font-geist-sans);
   --color-primary-text : #1A1A1A;
}